In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from floor_transcription import floor_trans #This is for Converting Floor variable

In [126]:
df = pd.read_csv("dataset.csv")
df.drop_duplicates(inplace = True)

In [127]:
df.head()

,title,undertitle,price,address,date,key_value,propertydetail
0,Condo For Sale in Yankin,"2 bedroom, 2 bathroom Condo for sale in Yankin...",For Sale \r...,"Yankin, Yangon",Posted Date : 27 Jan 2026,"[('Type', 'Condo'), ('Area', '1045 ft<sup>2</s...",Property Name : #Yankin Royal Thitsar Condo Fo...
1,Apartment For Sale in Okkalappa South,"2 bedroom, 1 bathroom Apartment for sale in Ok...",For Sale \r...,"Okkalappa South, Yangon",Posted Date : 27 Jan 2026,"[('Type', 'Apartment'), ('Floor', '3'), ('Area...",Property Name : #တောင်ဥက္ကလာ ၉ရပ်ကွက် VIP သစ္စ...
2,House For Sale in Dagon Myothit (North),"4 bedroom, 4 bathroom Privatehouse for sale in...",For Sale \r...,"Dagon Myothit (North), Yangon",Posted Date : 27 Jan 2026,"[('Type', 'House'), ('Floor', '2.5'), ('Area',...",Property Name : #မြောက်ဒဂုံ ၃၈ ရပ်ကွက် ပြည်ထော...
3,Land For Sale in Yankin,"Land for sale in Yankin, Yangon",For Sale \r...,"Yankin, Yangon",Posted Date : 27 Jan 2026,"[('Type', 'Land'), ('Area', ""105' x 50'""), ('O...",Property Name : #ဘောက်ထော် ပြည်သာယာလမ်းမအနီး မ...
4,House For Sale in Dagon Myothit (North),"5 bedroom, 7 bathroom Privatehouse for sale in...",For Sale \r...,"Dagon Myothit (North), Yangon",Posted Date : 27 Jan 2026,"[('Type', 'House'), ('Floor', '3'), ('Area', ""...",Property Name : #မြောက်ဒဂုံ (၄၂)ရပ်ကွက် ဗိုလ်မ...

## Converting Key_Value Data

In [128]:
df['key_value_temp'] = df['key_value'].str.replace("[","").str.replace("]","")

In [129]:

data = []

for i in df['key_value_temp'].str.split("),",regex = False):
    key = []
    value =[]
    for j in i:
        k = j.split(",")[0].replace("('",'').replace("'",'').strip()
        val = j.split(",")[1].replace("'",'').replace('"','').strip()
        key.append(k)
        value.append(val)
    data.append(dict(zip(key,value)))
key_value_df = pd.DataFrame(data)
    
        
key_value_df_back = key_value_df.copy()

---------------------Finish converting_key_value--------------

In [6]:
key_value_df['Type'].value_counts()

Type
Apartment          3350
House              2871
Condo              2678
Land               1664
Industrial Zone      53
Office / Retail      39
Name: count, dtype: int64

In [7]:
key_value_df['Type'].isnull().sum()

np.int64(0)

# Cleaning Area Column

In this column we have three kind of value type:
- foot square
- acre
- x_y(X x Y)
- after extracting all data i convert it into '0' and deleted

In [8]:
key_value_df['Area'].unique()

array(['1045 ft<sup>2</sup>', '54 x 18', '60 x 20', ...,
       '2991 ft<sup>2</sup>', '23 x 65', '7925 ft<sup>2</sup>'],
      shape=(1463,), dtype=object)

In [9]:
key_value_df[key_value_df['Area'] == '1045 ft<sup>2</sup>']

,Type,Area,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Phone,Availability Date,Aircon conditioner details,Room Partition Type,Flooring Type,Water System Type,Nearby Amenities
0,Condo,1045 ft<sup>2</sup>,2,2,,Fully Furnished),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6980,Apartment,1045 ft<sup>2</sup>,2,2,),NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
def get_ft(x):
    if "ft" in x:
        return(x)
    else:
        return '0'

def make_ft_zero(x):
        if "ft<sup>2</sup>" in x:
            return('0')
        else:
            return x

In [11]:
key_value_df['Area_ft'] = key_value_df['Area'].apply(get_ft)

In [12]:
key_value_df['Area_ft'] = key_value_df['Area_ft'].str.replace('ft<sup>2</sup>',"")

In [13]:
key_value_df.head()

,Type,Area,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Phone,Availability Date,Aircon conditioner details,Room Partition Type,Flooring Type,Water System Type,Nearby Amenities,Area_ft
0,Condo,1045 ft<sup>2</sup>,2,2,,Fully Furnished),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1045
1,Apartment,54 x 18,2,1,,Fully Furnished),3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,House,60 x 20,4,4,,Fully Furnished),2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,Land,105 x 50,NaN,NaN,),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,House,60 x 22,5,7,),NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [14]:
key_value_df['Area'] = key_value_df['Area'].apply(make_ft_zero)

In [15]:
key_value_df['x_y'] = key_value_df['Area'].apply(lambda x: x if "x"  in str(x) else '0').str.strip()

In [16]:
key_value_df['acre']= key_value_df['Area'].apply(lambda x: x if 'acre'  in str(x) else '0').str.strip()

In [17]:
key_value_df

,Type,Area,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Phone,Availability Date,Aircon conditioner details,Room Partition Type,Flooring Type,Water System Type,Nearby Amenities,Area_ft,x_y,acre
0,Condo,0,2,2,,Fully Furnished),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1045,0,0
1,Apartment,54 x 18,2,1,,Fully Furnished),3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,54 x 18,0
2,House,60 x 20,4,4,,Fully Furnished),2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,60 x 20,0
3,Land,105 x 50,NaN,NaN,),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,105 x 50,0
4,House,60 x 22,5,7,),NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,60 x 22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10650,House,0,7,7,Grant,Fully Furnished,3 RC,NaN,ready to use,NaN,Master Bedroom Only),Parquet Flooring,Groundwater pumping,NaN,6400,0,0
10651,House,70 x 90,7,4,Grant,Fully Furnished,2RC,NaN,ready to use,14,Master and Single Bedroom),Parquet Flooring,Groundwater pumping,NaN,0,70 x 90,0
10652,House,70 x 80,NaN,NaN,Contract,Fully Furnished),2BN,NaN,ready to use,-,NaN,NaN,Groundwater pumping,NaN,0,70 x 80,0
10653,House,0,7,7,Grant,Fully Furnished,3.5 RC,NaN,ready to use,-,Master and Single Bedroom),Parquet Flooring,Groundwater pumping,NaN,7925,0,0
10654,House,40 x 70,6,4,Grant,Fully Furnished,2RC,NaN,ready to use,NaN,Master and Single Bedroom),Parquet Flooring,Groundwater pumping,NaN,0,40 x 70,0

In [18]:
def make_x_y_and_acre_zero(x):
    if 'x'  in x:
        return "0"
    elif 'acre' in x:
        return '0'
    else:
        return x

In [19]:
key_value_df['Area'] = key_value_df['Area'].apply(make_x_y_and_acre_zero)

In [20]:
key_value_df['Area'].unique()

array(['0'], dtype=object)

In [21]:
key_value_df.head()

,Type,Area,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Phone,Availability Date,Aircon conditioner details,Room Partition Type,Flooring Type,Water System Type,Nearby Amenities,Area_ft,x_y,acre
0,Condo,0,2,2,,Fully Furnished),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1045,0,0
1,Apartment,0,2,1,,Fully Furnished),3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,54 x 18,0
2,House,0,4,4,,Fully Furnished),2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,60 x 20,0
3,Land,0,NaN,NaN,),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,105 x 50,0
4,House,0,5,7,),NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,60 x 22,0

In [22]:
key_value_df.drop(columns = ['Area'] , inplace = True)

------------------- Area Column Finished-------------

# Filling '0' to missing values and converting the column (Bed Room)

In [23]:
key_value_df['Bed Room'].unique()

array(['2', '4', nan, '5', '3', '6', '7', '1', '10', '8', '9'],
      dtype=object)

In [24]:
key_value_df

,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Phone,Availability Date,Aircon conditioner details,Room Partition Type,Flooring Type,Water System Type,Nearby Amenities,Area_ft,x_y,acre
0,Condo,2,2,,Fully Furnished),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1045,0,0
1,Apartment,2,1,,Fully Furnished),3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,54 x 18,0
2,House,4,4,,Fully Furnished),2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,60 x 20,0
3,Land,NaN,NaN,),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,105 x 50,0
4,House,5,7,),NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,60 x 22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10650,House,7,7,Grant,Fully Furnished,3 RC,NaN,ready to use,NaN,Master Bedroom Only),Parquet Flooring,Groundwater pumping,NaN,6400,0,0
10651,House,7,4,Grant,Fully Furnished,2RC,NaN,ready to use,14,Master and Single Bedroom),Parquet Flooring,Groundwater pumping,NaN,0,70 x 90,0
10652,House,NaN,NaN,Contract,Fully Furnished),2BN,NaN,ready to use,-,NaN,NaN,Groundwater pumping,NaN,0,70 x 80,0
10653,House,7,7,Grant,Fully Furnished,3.5 RC,NaN,ready to use,-,Master and Single Bedroom),Parquet Flooring,Groundwater pumping,NaN,7925,0,0
10654,House,6,4,Grant,Fully Furnished,2RC,NaN,ready to use,NaN,Master and Single Bedroom),Parquet Flooring,Groundwater pumping,NaN,0,40 x 70,0

In [25]:
key_value_df['Bed Room'].fillna("0",inplace = True)

C:\Users\M S I\AppData\Local\Temp\ipykernel_8688\826100264.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  key_value_df['Bed Room'].fillna("0",inplace = True)

In [26]:
key_value_df['Bed Room'].value_counts()

Bed Room
0     6166
2     1538
3     1386
1      643
4      502
5      226
6      106
7       69
8        9
10       8
9        2
Name: count, dtype: int64

In [27]:
key_value_df['Bed Room']=key_value_df['Bed Room'].astype(int)

-------- Finish Bed Room --------

# Bath Room column

- Filling Missing Value to "0"
- Convert it into int type

In [28]:
key_value_df['Bath Room'].unique()

array(['2', '1', '4', nan, '7', '3', '5', '6', '10', '9', '8'],
      dtype=object)

In [29]:
key_value_df['Bath Room'] = key_value_df['Bath Room'].fillna("0").astype(int)

In [30]:
key_value_df['Bath Room'].value_counts()

Bath Room
0     5741
1     1828
2     1620
3      862
4      295
5      175
6       74
7       45
8        6
9        5
10       4
Name: count, dtype: int64

-------- finish Bath Room ---------

# Ownership Column 
- there is two values like ("",')') which i have to threat as missing values
- and some values have "text)" parenthesis at last , Cleaned that as well

In [31]:
key_value_df['Ownership'].value_counts()

Ownership
)               8239
                 974
Contract         602
Contract)        578
Grant)           111
Grant             97
Inheritance       26
Inheritance)      16
Permit)           10
Permit             2
Name: count, dtype: int64

In [32]:
def remove_half_paren(x):
    if x in ['', ')',np.nan]:
        return '0'
    else :
        return x.replace(")",'')

In [33]:
key_value_df['Ownership']=key_value_df['Ownership'].apply(remove_half_paren).str.strip()

In [34]:
key_value_df

,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Phone,Availability Date,Aircon conditioner details,Room Partition Type,Flooring Type,Water System Type,Nearby Amenities,Area_ft,x_y,acre
0,Condo,2,2,0,Fully Furnished),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1045,0,0
1,Apartment,2,1,0,Fully Furnished),3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,54 x 18,0
2,House,4,4,0,Fully Furnished),2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,60 x 20,0
3,Land,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,105 x 50,0
4,House,5,7,0,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,60 x 22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10650,House,7,7,Grant,Fully Furnished,3 RC,NaN,ready to use,NaN,Master Bedroom Only),Parquet Flooring,Groundwater pumping,NaN,6400,0,0
10651,House,7,4,Grant,Fully Furnished,2RC,NaN,ready to use,14,Master and Single Bedroom),Parquet Flooring,Groundwater pumping,NaN,0,70 x 90,0
10652,House,0,0,Contract,Fully Furnished),2BN,NaN,ready to use,-,NaN,NaN,Groundwater pumping,NaN,0,70 x 80,0
10653,House,7,7,Grant,Fully Furnished,3.5 RC,NaN,ready to use,-,Master and Single Bedroom),Parquet Flooring,Groundwater pumping,NaN,7925,0,0
10654,House,6,4,Grant,Fully Furnished,2RC,NaN,ready to use,NaN,Master and Single Bedroom),Parquet Flooring,Groundwater pumping,NaN,0,40 x 70,0

 ---------------------- Finished Ownership ------

# Furnishing Type
- Tiled Floor &amp; Walls for Kitchen (I have to do this value to encode , I didn't do it yet)
- Some values have 'text)' parenthesis one last.

In [35]:
key_value_df['Furnishing Type'].unique()

array(['Fully Furnished)', nan, 'Fully Furnished',
       'Tiled Floor &amp; Walls for Kitchen', 'Partially Furnished)',
       'Not Furnished)', 'Not Furnished', 'Partially Furnished'],
      dtype=object)

In [36]:
key_value_df['Furnishing Type'] = key_value_df['Furnishing Type'].apply(remove_half_paren).str.strip()

 ------ Finish Furnishing Type --------

# Floor

In [37]:
key_value_df.sample(5)

,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Phone,Availability Date,Aircon conditioner details,Room Partition Type,Flooring Type,Water System Type,Nearby Amenities,Area_ft,x_y,acre
3626,Apartment,1,1,0,0,1 floor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,15 x 50,0
8319,Apartment,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,12.50 x 50,0
9156,House,3,2,0,Partially Furnished,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,60 x 23,0
6010,Land,0,0,Contract,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,100 x 100,0
5933,Apartment,0,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,18 x 54,0

In [38]:
key_value_df['Floor'].unique()

array([nan, '3', '2.5', 'နှစ်ထပ်လုံးချင်း၊', '2.RC (အိမ်အသင့်အတင့်)',
       '2.5.RC နှစ်ထပ်ခွဲလုံးချင်းတိုက်သစ်', '3.RC',
       '2.5.RC With Basement', '-', '2.RC (တောင်အလှည့်)',
       '2&amp;frac12;.RC (အသစ်စက်စက်)', '4RC', '၂ ထပ်တိုက်', '2RC',
       '1st Floor', 'BN', '7th', '5F', '5F(below)', 'ပထမထပ်', '၆လွှာ',
       '6 လွှာ', '2', 'ဒုတိယထပ်', 'မြေညီထပ်', '၇', '3.RC (Roofslab)',
       '5th Floor (below ?)', 'Penthouse', '7th Floor', 'High Floor',
       '၂ထပ်', '၃ထပ်ခွဲ', '4', '5', '1.5RC', '1', 'မြေညီ', 'Middle floor',
       'တတိယထပ်', '2.5.RC (နှစ်ထပ်ခွဲလုံးချင်းအိမ်)', '2.RC (ထောင့်ခြံ)',
       '3RC', 'High Floor (over 20th Floor)', 'Ground Floor',
       '2.RC (အရှေ့အလှည့်)', '2.5.RC (အိမ်ကြီးအိမ်ကောင်း)',
       '2.RC (အိမ်အသစ်စက်စက်)', '3.RC (အိမ်ကောင်း)',
       '3.RC (36&amp;#039;&amp;times;46&amp;#039;/5000.Sqft)',
       '2.5.RC (နှစ်ထပ်ခွဲလုံးချင်း)', '2.RC . 3000.Sqft (မြောက်အလှည့်)',
       '2&amp;frac12; Storey နှစ်ထပ်ခွဲလုံးချင်းအိမ်', '3.RC (4800.Sqft)',
       '2.5.RC (နှစ်ထပ်ခွဲလုံးချင်းတိုက်သစ်)', 'High floor',
       'Building 2 RC', 'Lower floor', 'Building 3 RC', '_', '26',
       '၅လွှာ', '1BN', '7 F', '1PT', '6F', '6F (below)', '5th Floor',
       '2nd Floor', 'စတုတ္ထထပ်', '3rd Floor', 'G Floor(attic)', '3F',
       '1.5BN', '3.RC (တောင်အလှည့်)', '2 nd Floor', 'Lower Floor',
       '2.RC (အိမ်ကြီးအိမ်ကောင်း)', '1.RC + 2.RC အိမ်နှစ်လုံးပါ',
       '၂ ထပ်တိုက်ဟောင်း', '1RC', '19 floor', '၇လွှာ', '8F(Penthouse)',
       '၅လွှာ(တစ်မိုးအောက်)', '2.5RC', '2BN',
       '3.RC (40&amp;#039; &amp;times; 35&amp;#039;)', '၂ ထပ်တိုက် 2.RC',
       '3.RC (အိမ်ကြီးအိမ်ကောင်း)', '2 RC', '3 RC', '1F', '4F',
       'မြေညီ+မှန်ခန်း', 'မြေညီ+ပထမထပ်', '2RCတိုက်သစ် Roof Slab', '1 RC',
       '2 BN', '၄လွှာ', '2SS', '2.5 RC', 'ဂိုထောင်', '2RC ( ဂိုဒေါင်)',
       '1 BN', '4RC (8000 Sqft)', '(၃)ထပ် RC နှင့် အမိုး Roof Slab',
       '4.RC (အိမ်ကောင်း)', '2.RC (အိမ်ကောင်း)', '9th Floor',
       'မြေညီ+ထပ်ခိုး',
       '23&amp;#039; &amp;times; 65&amp;#039; အကျယ်ရှိ 4.RC',
       '2.RC အိမ်မကြီး', '2.RC (4200.Sqft)', '3rd floor', '2nd floor',
       'ပထမထပ်စစ်စစ်', '၅လွှာ (တစ်မိုးအောတစ်', '33th Floor',
       'မြေညီထပ်ခိုးပါ', '11th Floor', '6th Floor (below?)',
       'မြေညီထပ်ခိုးအပြည့်ပါ', '၆လွှာ(အပေါ်တွင် ၂လွှာကျန်)', '2BN + 2BN',
       '1.5 BN', 'နှစ်ထပ်ခွဲ.RC + နှစ်ထပ် Steel Structure',
       '2.RC (အရှေ့လှည့်/ထောင့်ခြံ)', '2.RC House )တိုက်သစ်/ထောင့်ခြံ)',
       '3&amp;frac12;.RC (ထောင့်ခြံတိုက်သစ်)',
       'Steel Structure 3 ထပ်ခွဲ (12000.Sqft)',
       '၂ ထပ်တိုက် 2.RC (အိမ်ကောင်း)', '2.RC (အိမ် ကြီးအိမ်ကောင်း)', '6',
       'First floor', '2.RC (နှစ်ထပ်တိုက်လုံးချင်း)',
       '3 Storey with Roofslab', '2.RC House', '7', 'GF+ထပ်ခိုး', 'GF',
       '11', '9Floor', '2F',
       '3.RC (အသင့်နေ ပြင်ဆင်ပြီး လက်တင်နေရန်အသင့်)', '5th floor',
       'Ground floor+1 st floor', '4 Floor', '5 Floor', '2Floor',
       '1st floor', '5floor', 'Ground', 'penthouse',
       'One Storey တစ်ထပ်လုံးချင်းအိမ်လှလှလေး',
       'Steel Structure 3 ထပ်ခွဲ', 'အိမ်ဟောင်း တစ်လုံးပါ', '10 F(below)',
       '1FLOOR', '1 and a half', '၄', '3Floor', '3 Floor', '6 Floor',
       '5F+6F', '10', 'မြေညီ +ထပ်ခိုး', '6လွှာ', '8 th Floor', '22 Floor',
       '14th Floor', '6th Floor', '3rc', '2floor', '6  Floor', '4 FIOOR',
       '1/RC', '7F', '1 Floor', 'မြေညီပထမထပ်', 'တစ်ထပ်အိမ်ပါ', '1 SS',
       '၄ လွှာ', '၅ လွှာ', '4th', 'တတိယထပိ', 'မြေညီ + ထပ်ခိုး', '6RC',
       '2BN ပါ', '၃ လွှာ', '8', 'Ground Floor+Attic', '6th floor', '5RC',
       'မြေညီ / ပထမ / ဒုတိယ/တတိယ / ၆လွှာ', '7th floor', '2RC (2)လုံး',
       '၂ထပ်အိမ်', '7Floor', '10th floor', '5th floor (above ?)',
       '4th floor', '3.5RC', '2Rc', '1ထပ်အိမ်',
       'မြေညီထပ် အပါ်တစ်ထပ် ထပ်ပါ', '12',
       '2.RC (48&amp;#039; &amp;times; 48&amp;#039; / 4608.Sqft)',
       '8floor', '2 Storey နှစ်ထပ်လုံးချင်းအိမ်', '2.RC', '2 Floor',
       '၃ ထပ်ခွဲ', '5 floor(below)', '2.RC ပုံစံတူ နှစ်လုံ', '3floor',
       '6floor', '5floir', '4floor', '1ထပ်တိုက်', 'ဂိုထောင်နှင့်အိမ်အပါ',
       '2 လွှာ', '5th floor (below) ?', 'စတုတ္ထထပ် (တစ်မိုးအောက်)',
       '2ထပ်တိုက်', '၁ထပ်အိပ်', '5 လွှာ', '4 လွှာ', '7လွှာ',
       '2.RC (၃ လုံး)', '8F', '8 Floor(below)', 'စိတ်ကြိုက်အလွှာစုံ',
       '4ထပ်', '၁ထပ်', 'မြေညီမှန်ခန်း', '3.5', 'မြေညီထပ်+ထပ်ခိုး',
       'G Floor', '3RC3ထပ်ခွဲ', '3လွှာ', 'နှစ်ထပ်လုံးချင်း', '၆ လွှာ',
       '3.RC (5345.Sqft)', '2.RC (1800.Sqft) အိမ်နှစ်လုံး ဆင်တူ', '4လွှာ',
       '5th Floor ( below ?)', 'အလွှာနိမ့် ( 2ခန်း )', '5လွှာ', '၈လွှာ',
       '၆လွှာ(တစ်မိုးအောက်)', '5th', '4 RC', '2RC+2RC', '5 RC', '7 Floor',
       '2ထပ်အိမ်', '2ထပ်', '2.5 Rc', 'မြေညီထပ်5လွှာ', 'GF+မှန်ခန်း',
       'နှစ်ထပ်အိမ်', '၁', 'Pt', '2ထပ်အဆောင်', '၂ထပ်တိုက်',
       '2ထပ်အိမ်ကောင်း', '5th floor (below ?)', 'မြေညီထပ်(ထပ်ခိုးပါ)',
       'စတုတ္ထထပ်(၅လွှာ)', '1 floor', '8 Floor', 'Third', 'စတုတ္ထလွှာ',
       '8Floor', '2.RC အိမ်ကြီးအိမ်ကောင်း', '9Floor(Penthouse)', '2PT',
       '၃ထပ်', '3.RC (အရှေ့အလှည့်)', '3.5 RC', '၂ထပ်ခွဲ', 'gf',
       '1.5RC+1RV', '၄ထပ်', '၂ထပ်ပျဉ်ထောင်', 'မြေညီထပ်+ထပ်ခိုးတဝက်ပါ',
       '6ထပ်', '20Lfloor', '3.RC (Classic Style တိုက်သစ်)',
       'တတိယထပ် ( လေးလွှာ )', '2rc', '၈ထပ်', 'ဟောင်ကောင်မြေညီဝမ်းဆက်',
       'နှစ်ထပ်တိုက်နှစ်လုံး', '3လွှ', 'သုံးထပ်လုံးချင်း', '1st Flor',
       'မြေညီထပ်ခိုး', '၅လွှာ (တစ်မိုးအောက်)', '4th Floor',
       '5th Floor (above)', 'High Floor( over 10th floor)',
       'နှစ်ထပ်တိုက်', 'နှစ်ထပ်ခွဲလုံးချင်း', '2Bn', 'ထောင့်ကွက်',
       '3.RC (အသစ်စက်စက်)', '7.5RC', '\\u200bမြေညီ', '3 rd Floor',
       '6 th Floor', '1.5RC ( သိပ်မကောင်း )', '3RC+ဂိုထောင်', '3 floor',
       '3.5.RC (၃ထပ်ခွဲ.Roofslab)', '1.RC (အိမ်ကောင်း)',
       '3&amp;frac12;.RC (၃ ထပ်ခွဲ)', '3.RC (Shophouse Style)',
       'ပျဥ်ထောင်အိမ်', '4 floor', '2RC (တောင်အလှည့်)', '29', 'GF+1F',
       'Penthous', 'စတုတထပ်', '၂', '21 floor', 'lower floor',
       'Building 2 and half RC', 'Building 2.5 RC', 'ပထမထထပ်', '1.5PT',
       'PT', 'ပထပ်စစ်စစ်', 'High Floor( over 15th floor)',
       '2.RC . 5000.Sqft (အရှေ့အလှည့်)', '17', '5 Floor(above)',
       '၅-လွှာ (မြေညီအပါ)', 'သုံးထပ်ခွဲလုံးချင်း', '2.RC (Good)',
       '6th Floor (below)', '24F + 25F', '1 steel structure',
       'High Floor( over 20th floor)', 'လုံးချင်းအိမ်', '2ထပ်လုံးချင်း',
       '၆လွာ', '20TH FLOOR', '5F(above)', 'Hight Floor ( over 16 Floor )',
       '1RC M-3 + 1RC M-4', '8RC', '2 ထပ်ခွဲ', '9', '12th Floor',
       '5လွှာ အပေါ်တထပ်ကျန်', '5.5RC', 'Penthouses', '20',
       'Building 1 RC', '(၃)လွှာ', '2RC (4800.Sqft)', '2.RC အိမ်ကောင်း',
       '5th floor(below)', '&amp;zwnj;၅လွှာ', '1 st floor', 'GD',
       'Building 3.5 RC', '6th', 'တစ်ထပ်', 'ပထမ', '၃', 'အလွှာနိမ့်',
       '4.5', '2 ထပ်အုတ်အိမ်', 'Penhouse', 'ဒုတိယ', 'G Floor+1st Floor',
       '၅+၆ လွှာ', '4.5RC', '၂ ထပ်အိမ်(ခေါင်တွဲ)', 'Warehouse', 'RC',
       '၂ထပ်လုံးချင်း', 'GF+1st Floor', '2ပျဥ်ထောင်', 'မြေညီထပ်ခိုစ',
       '7th  Floor(below)', '14', '၂ ထပ်လုံးချင်း',
       '10th လွှာ (အပေါ်တစ်ထပ်ကျန်)', '5ထပ်', '၈ လွှာ', '၆', '60',
       '3RCတိုက်တစ်လုံးပါ', 'မြေ', 'River View', '1RC+1PT', '5500',
       'High Floor(over 20 th Floor)', 'GF+Attic', 'ပျဥ်ထောင်',
       'GF+Mirror', 'Middle Floor', '၀', '၃ထပ်တိုက်', 'တတိယ',
       'Mirror floor', '၃.၅', '2RC+3RC', '2RC+Warehouse', '',
       '1RC + 1 RC', '3.RC (တိုက်သစ်)', '6 Fioor', 'Above 9 Floor',
       '2RC + 1RC', 'အလွှာမြင့်', '2.RC (Roofslab)', 'နှစ်ထပ်',
       'ဂိုဒေါင်', 'တစ်ထပ်တိုက်(1-storeyed)', 'GF Floor', '3.5rc',
       'Above 10 Floor', '3.RC (သုံးထပ်တိုက်)', '8ထပ်',
       '5လွှာ တစ်မိုးအောက်', 'လေးထပ်ခွဲလုံးချင်း', '2.RC (2) လုံး',
       'First Floor', '1BN+1BN', '၁ ထပ်ခွဲ', '၃လွှာ', '၅',
       '2.RC Luxury House', '2.RC Pile Foundation', 'Pehthouse',
       '2.RC (Luxury House)', '1.5 RC', '6.5 RC', '8 RC',
       '၃ ထပ်ခွဲ ရှယ်လုံးချင်း'], dtype=object)

In [39]:
key_value_df[key_value_df['Type']!="Land"]['Floor'].isnull().sum()

np.int64(4343)

In [40]:
key_value_df[key_value_df['Type']!="Land"]['Floor'].unique()

array([nan, '3', '2.5', 'နှစ်ထပ်လုံးချင်း၊', '2.RC (အိမ်အသင့်အတင့်)',
       '2.5.RC နှစ်ထပ်ခွဲလုံးချင်းတိုက်သစ်', '3.RC',
       '2.5.RC With Basement', '-', '2.RC (တောင်အလှည့်)',
       '2&amp;frac12;.RC (အသစ်စက်စက်)', '4RC', '၂ ထပ်တိုက်', '2RC',
       '1st Floor', 'BN', '7th', '5F', '5F(below)', 'ပထမထပ်', '၆လွှာ',
       '6 လွှာ', '2', 'ဒုတိယထပ်', 'မြေညီထပ်', '၇', '3.RC (Roofslab)',
       '5th Floor (below ?)', 'Penthouse', '7th Floor', 'High Floor',
       '၂ထပ်', '၃ထပ်ခွဲ', '4', '5', '1.5RC', '1', 'မြေညီ', 'Middle floor',
       'တတိယထပ်', '2.5.RC (နှစ်ထပ်ခွဲလုံးချင်းအိမ်)', '2.RC (ထောင့်ခြံ)',
       '3RC', 'High Floor (over 20th Floor)', 'Ground Floor',
       '2.RC (အရှေ့အလှည့်)', '2.5.RC (အိမ်ကြီးအိမ်ကောင်း)',
       '2.RC (အိမ်အသစ်စက်စက်)', '3.RC (အိမ်ကောင်း)',
       '3.RC (36&amp;#039;&amp;times;46&amp;#039;/5000.Sqft)',
       '2.5.RC (နှစ်ထပ်ခွဲလုံးချင်း)', '2.RC . 3000.Sqft (မြောက်အလှည့်)',
       '2&amp;frac12; Storey နှစ်ထပ်ခွဲလုံးချင်းအိမ်', '3.RC (4800.Sqft)',
       '2.5.RC (နှစ်ထပ်ခွဲလုံးချင်းတိုက်သစ်)', 'High floor',
       'Building 2 RC', 'Lower floor', 'Building 3 RC', '_', '26',
       '၅လွှာ', '1BN', '7 F', '1PT', '6F', '6F (below)', '5th Floor',
       '2nd Floor', 'စတုတ္ထထပ်', '3rd Floor', 'G Floor(attic)', '3F',
       '1.5BN', '3.RC (တောင်အလှည့်)', '2 nd Floor', 'Lower Floor',
       '2.RC (အိမ်ကြီးအိမ်ကောင်း)', '1.RC + 2.RC အိမ်နှစ်လုံးပါ',
       '၂ ထပ်တိုက်ဟောင်း', '1RC', '19 floor', '၇လွှာ', '8F(Penthouse)',
       '၅လွှာ(တစ်မိုးအောက်)', '2.5RC', '2BN',
       '3.RC (40&amp;#039; &amp;times; 35&amp;#039;)', '၂ ထပ်တိုက် 2.RC',
       '3.RC (အိမ်ကြီးအိမ်ကောင်း)', '2 RC', '3 RC', '1F', '4F',
       'မြေညီ+မှန်ခန်း', 'မြေညီ+ပထမထပ်', '2RCတိုက်သစ် Roof Slab', '1 RC',
       '2 BN', '၄လွှာ', '2SS', '2.5 RC', 'ဂိုထောင်', '2RC ( ဂိုဒေါင်)',
       '1 BN', '4RC (8000 Sqft)', '(၃)ထပ် RC နှင့် အမိုး Roof Slab',
       '4.RC (အိမ်ကောင်း)', '2.RC (အိမ်ကောင်း)', '9th Floor',
       'မြေညီ+ထပ်ခိုး',
       '23&amp;#039; &amp;times; 65&amp;#039; အကျယ်ရှိ 4.RC',
       '2.RC အိမ်မကြီး', '2.RC (4200.Sqft)', '3rd floor', '2nd floor',
       'ပထမထပ်စစ်စစ်', '၅လွှာ (တစ်မိုးအောတစ်', '33th Floor',
       'မြေညီထပ်ခိုးပါ', '11th Floor', '6th Floor (below?)',
       'မြေညီထပ်ခိုးအပြည့်ပါ', '၆လွှာ(အပေါ်တွင် ၂လွှာကျန်)', '2BN + 2BN',
       '1.5 BN', 'နှစ်ထပ်ခွဲ.RC + နှစ်ထပ် Steel Structure',
       '2.RC (အရှေ့လှည့်/ထောင့်ခြံ)', '2.RC House )တိုက်သစ်/ထောင့်ခြံ)',
       '3&amp;frac12;.RC (ထောင့်ခြံတိုက်သစ်)',
       'Steel Structure 3 ထပ်ခွဲ (12000.Sqft)',
       '၂ ထပ်တိုက် 2.RC (အိမ်ကောင်း)', '2.RC (အိမ် ကြီးအိမ်ကောင်း)', '6',
       'First floor', '2.RC (နှစ်ထပ်တိုက်လုံးချင်း)',
       '3 Storey with Roofslab', '2.RC House', '7', 'GF+ထပ်ခိုး', 'GF',
       '11', '9Floor', '2F',
       '3.RC (အသင့်နေ ပြင်ဆင်ပြီး လက်တင်နေရန်အသင့်)', '5th floor',
       'Ground floor+1 st floor', '4 Floor', '5 Floor', '2Floor',
       '1st floor', '5floor', 'Ground', 'penthouse',
       'One Storey တစ်ထပ်လုံးချင်းအိမ်လှလှလေး',
       'Steel Structure 3 ထပ်ခွဲ', 'အိမ်ဟောင်း တစ်လုံးပါ', '10 F(below)',
       '1FLOOR', '1 and a half', '၄', '3Floor', '3 Floor', '6 Floor',
       '5F+6F', '10', 'မြေညီ +ထပ်ခိုး', '6လွှာ', '8 th Floor', '22 Floor',
       '14th Floor', '6th Floor', '3rc', '2floor', '6  Floor', '4 FIOOR',
       '1/RC', '7F', '1 Floor', 'မြေညီပထမထပ်', 'တစ်ထပ်အိမ်ပါ', '1 SS',
       '၄ လွှာ', '၅ လွှာ', '4th', 'တတိယထပိ', 'မြေညီ + ထပ်ခိုး', '6RC',
       '၃ လွှာ', '8', 'Ground Floor+Attic', '6th floor', '5RC',
       'မြေညီ / ပထမ / ဒုတိယ/တတိယ / ၆လွှာ', '7th floor', '2RC (2)လုံး',
       '၂ထပ်အိမ်', '7Floor', '10th floor', '5th floor (above ?)',
       '4th floor', '3.5RC', '2Rc', '1ထပ်အိမ်',
       'မြေညီထပ် အပါ်တစ်ထပ် ထပ်ပါ', '12',
       '2.RC (48&amp;#039; &amp;times; 48&amp;#039; / 4608.Sqft)',
       '8floor', '2 Storey နှစ်ထပ်လုံးချင်းအိမ်', '2.RC', '2 Floor',
       '၃ ထပ်ခွဲ', '5 floor(below)', '2.RC ပုံစံတူ နှစ်လုံ', '3floor',
       '6floor', '5floir', '4floor', '1ထပ်တိုက်', 'ဂိုထောင်နှင့်အိမ်အပါ',
       '2 လွှာ', '5th floor (below) ?', 'စတုတ္ထထပ် (တစ်မိုးအောက်)',
       '2ထပ်တိုက်', '၁ထပ်အိပ်', '5 လွှာ', '4 လွှာ', '7လွှာ',
       '2.RC (၃ လုံး)', '8F', '8 Floor(below)', 'စိတ်ကြိုက်အလွှာစုံ',
       '4ထပ်', '၁ထပ်', 'မြေညီမှန်ခန်း', '3.5', 'မြေညီထပ်+ထပ်ခိုး',
       'G Floor', '3RC3ထပ်ခွဲ', '3လွှာ', 'နှစ်ထပ်လုံးချင်း', '၆ လွှာ',
       '3.RC (5345.Sqft)', '2.RC (1800.Sqft) အိမ်နှစ်လုံး ဆင်တူ', '4လွှာ',
       '5th Floor ( below ?)', 'အလွှာနိမ့် ( 2ခန်း )', '5လွှာ', '၈လွှာ',
       '၆လွှာ(တစ်မိုးအောက်)', '5th', '4 RC', '5 RC', '7 Floor',
       '2ထပ်အိမ်', '2ထပ်', '2.5 Rc', 'မြေညီထပ်5လွှာ', 'GF+မှန်ခန်း',
       'နှစ်ထပ်အိမ်', '၁', 'Pt', '2ထပ်အဆောင်', '၂ထပ်တိုက်',
       '2ထပ်အိမ်ကောင်း', '5th floor (below ?)', 'မြေညီထပ်(ထပ်ခိုးပါ)',
       'စတုတ္ထထပ်(၅လွှာ)', '1 floor', '8 Floor', 'Third', 'စတုတ္ထလွှာ',
       '8Floor', '2.RC အိမ်ကြီးအိမ်ကောင်း', '9Floor(Penthouse)', '2PT',
       '၃ထပ်', '3.RC (အရှေ့အလှည့်)', '3.5 RC', '၂ထပ်ခွဲ', 'gf',
       '1.5RC+1RV', '၄ထပ်', '၂ထပ်ပျဉ်ထောင်', 'မြေညီထပ်+ထပ်ခိုးတဝက်ပါ',
       '6ထပ်', '20Lfloor', '3.RC (Classic Style တိုက်သစ်)',
       'တတိယထပ် ( လေးလွှာ )', '2rc', '၈ထပ်', 'ဟောင်ကောင်မြေညီဝမ်းဆက်',
       'နှစ်ထပ်တိုက်နှစ်လုံး', '3လွှ', 'သုံးထပ်လုံးချင်း', '1st Flor',
       'မြေညီထပ်ခိုး', '၅လွှာ (တစ်မိုးအောက်)', '4th Floor',
       '5th Floor (above)', 'High Floor( over 10th floor)',
       'နှစ်ထပ်တိုက်', 'နှစ်ထပ်ခွဲလုံးချင်း', '2Bn', '3.RC (အသစ်စက်စက်)',
       '7.5RC', '\\u200bမြေညီ', '3 rd Floor', '6 th Floor',
       '3RC+ဂိုထောင်', '3 floor', '3.5.RC (၃ထပ်ခွဲ.Roofslab)',
       '1.RC (အိမ်ကောင်း)', '3&amp;frac12;.RC (၃ ထပ်ခွဲ)',
       '3.RC (Shophouse Style)', 'ပျဥ်ထောင်အိမ်', '4 floor',
       '2RC (တောင်အလှည့်)', '29', 'GF+1F', 'Penthous', 'စတုတထပ်', '၂',
       '21 floor', 'lower floor', 'Building 2 and half RC',
       'Building 2.5 RC', 'ပထမထထပ်', '1.5PT', 'PT', 'ပထပ်စစ်စစ်',
       'High Floor( over 15th floor)', '2.RC . 5000.Sqft (အရှေ့အလှည့်)',
       '17', '5 Floor(above)', '၅-လွှာ (မြေညီအပါ)', 'သုံးထပ်ခွဲလုံးချင်း',
       '2.RC (Good)', '6th Floor (below)', '24F + 25F',
       '1 steel structure', 'High Floor( over 20th floor)',
       'လုံးချင်းအိမ်', '2ထပ်လုံးချင်း', '၆လွာ', '20TH FLOOR',
       '5F(above)', 'Hight Floor ( over 16 Floor )', '1RC M-3 + 1RC M-4',
       '8RC', '2 ထပ်ခွဲ', '9', '12th Floor', '5လွှာ အပေါ်တထပ်ကျန်',
       '5.5RC', 'Penthouses', '20', 'Building 1 RC', '(၃)လွှာ',
       '2RC (4800.Sqft)', '2.RC အိမ်ကောင်း', '5th floor(below)',
       '&amp;zwnj;၅လွှာ', '1 st floor', 'GD', 'Building 3.5 RC', '6th',
       'တစ်ထပ်', 'ပထမ', '၃', 'အလွှာနိမ့်', '4.5', '2 ထပ်အုတ်အိမ်',
       'Penhouse', 'ဒုတိယ', 'G Floor+1st Floor', '၅+၆ လွှာ', '4.5RC',
       '၂ ထပ်အိမ်(ခေါင်တွဲ)', 'Warehouse', 'RC', '၂ထပ်လုံးချင်း',
       'GF+1st Floor', '2ပျဥ်ထောင်', 'မြေညီထပ်ခိုစ', '7th  Floor(below)',
       '14', '၂ ထပ်လုံးချင်း', '10th လွှာ (အပေါ်တစ်ထပ်ကျန်)', '5ထပ်',
       '၈ လွှာ', '၆', '60', '3RCတိုက်တစ်လုံးပါ', 'River View', '1RC+1PT',
       '5500', 'High Floor(over 20 th Floor)', 'GF+Attic', 'ပျဥ်ထောင်',
       'GF+Mirror', 'Middle Floor', '၃ထပ်တိုက်', 'တတိယ', 'Mirror floor',
       '၃.၅', '2RC+3RC', '2RC+Warehouse', '1RC + 1 RC', '3.RC (တိုက်သစ်)',
       '6 Fioor', 'Above 9 Floor', '2RC + 1RC', 'အလွှာမြင့်',
       '2.RC (Roofslab)', 'နှစ်ထပ်', 'ဂိုဒေါင်',
       'တစ်ထပ်တိုက်(1-storeyed)', 'GF Floor', '3.5rc', 'Above 10 Floor',
       '3.RC (သုံးထပ်တိုက်)', '8ထပ်', '5လွှာ တစ်မိုးအောက်',
       'လေးထပ်ခွဲလုံးချင်း', '2.RC (2) လုံး', 'First Floor', '1BN+1BN',
       '၁ ထပ်ခွဲ', '၃လွှာ', '၅', '2.RC Luxury House',
       '2.RC Pile Foundation', 'Pehthouse', '2.RC (Luxury House)',
       '1.5 RC', '6.5 RC', '8 RC', '၃ ထပ်ခွဲ ရှယ်လုံးချင်း'], dtype=object)

In [41]:
# Transforming Floor Long Text Into Real value , ''
def floor_str_to_int(x):
    key = list(floor_trans.keys())
    value = list(floor_trans.values())
    
    x = str(x).strip()
    if x ==str(np.nan) or x =="":
        return float(0)
        
    elif x in key:
        ind = key.index(x)
        floor = value[ind]
        return float(np.round(floor,1))

In [42]:
key_value_df['Floor'] = key_value_df['Floor'].apply(floor_str_to_int)

In [43]:
# sorted(key_value_df['Floor'].value_counts().index)

In [44]:
key_value_df['Floor'].fillna(float(0.0),inplace = True)

C:\Users\M S I\AppData\Local\Temp\ipykernel_8688\3309058374.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  key_value_df['Floor'].fillna(float(0.0),inplace = True)

-------- Finish Floor ---------

# Deleting 'Phone' and 'Availibility Date' and 'Aircon conditioner details' Column

In [45]:
key_value_df['Phone'].value_counts()

Phone
Yes    99
Name: count, dtype: int64

In [46]:
key_value_df.drop(columns = ['Phone'] , inplace = True)

------- Finish Phone -------

In [47]:
key_value_df['Availability Date'].unique()

array([nan, 'Ready To Use', '-', 'ready to use', '3.RC (Modernize House)',
       'Ready to Use', 'Ready to use'], dtype=object)

In [48]:
key_value_df['Availability Date'].value_counts()

Availability Date
Ready To Use              87
ready to use              46
-                         18
Ready to use               2
3.RC (Modernize House)     1
Ready to Use               1
Name: count, dtype: int64

In [49]:
key_value_df.drop(columns = ['Availability Date'] , inplace = True)

------- Finish Phone -------

In [50]:
key_value_df["Aircon conditioner details"].unique()

array([nan, '3', '4', '7', '6', '1', '2', '-', '9', '5', '21', '8', '10',
       '11', '14'], dtype=object)

In [51]:
key_value_df["Aircon conditioner details"].isnull().sum()

np.int64(10416)

In [52]:
key_value_df["Aircon conditioner details"].value_counts()

Aircon conditioner details
-     104
4      44
3      33
6      13
5      10
7       9
9       8
2       8
1       2
8       2
14      2
10      2
21      1
11      1
Name: count, dtype: int64

In [53]:
key_value_df.drop(columns = ['Aircon conditioner details'] , inplace = True)

------- Finish Aircon conditioner details -------

 # Room Partition Type

In [54]:
key_value_df['Room Partition Type'].unique()

array([nan, 'Master and Single Bedroom)', 'Master Bedroom Only)',
       'Single Bedroom Only)', 'Hall Type)', 'Master Bedroom Only'],
      dtype=object)

In [55]:
key_value_df[key_value_df['Type']!='Land']

,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Room Partition Type,Flooring Type,Water System Type,Nearby Amenities,Area_ft,x_y,acre
0,Condo,2,2,0,Fully Furnished,0.0,NaN,NaN,NaN,NaN,1045,0,0
1,Apartment,2,1,0,Fully Furnished,3.0,NaN,NaN,NaN,NaN,0,54 x 18,0
2,House,4,4,0,Fully Furnished,2.5,NaN,NaN,NaN,NaN,0,60 x 20,0
4,House,5,7,0,0,3.0,NaN,NaN,NaN,NaN,0,60 x 22,0
5,House,4,3,Contract,0,0.0,NaN,NaN,NaN,NaN,0,60 x 70,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10650,House,7,7,Grant,Fully Furnished,3.0,Master Bedroom Only),Parquet Flooring,Groundwater pumping,NaN,6400,0,0
10651,House,7,4,Grant,Fully Furnished,2.0,Master and Single Bedroom),Parquet Flooring,Groundwater pumping,NaN,0,70 x 90,0
10652,House,0,0,Contract,Fully Furnished,2.0,NaN,NaN,Groundwater pumping,NaN,0,70 x 80,0
10653,House,7,7,Grant,Fully Furnished,3.5,Master and Single Bedroom),Parquet Flooring,Groundwater pumping,NaN,7925,0,0
10654,House,6,4,Grant,Fully Furnished,2.0,Master and Single Bedroom),Parquet Flooring,Groundwater pumping,NaN,0,40 x 70,0

In [56]:
key_value_df['Room Partition Type'].value_counts()

Room Partition Type
Master and Single Bedroom)    480
Master Bedroom Only)          159
Single Bedroom Only)           55
Hall Type)                     13
Master Bedroom Only             1
Name: count, dtype: int64

In [57]:
key_value_df['Room Partition Type'] = key_value_df['Room Partition Type'].apply(remove_half_paren)

------finish Room Partition Type-------

In [58]:
key_value_df

,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Room Partition Type,Flooring Type,Water System Type,Nearby Amenities,Area_ft,x_y,acre
0,Condo,2,2,0,Fully Furnished,0.0,0,NaN,NaN,NaN,1045,0,0
1,Apartment,2,1,0,Fully Furnished,3.0,0,NaN,NaN,NaN,0,54 x 18,0
2,House,4,4,0,Fully Furnished,2.5,0,NaN,NaN,NaN,0,60 x 20,0
3,Land,0,0,0,0,0.0,0,NaN,NaN,NaN,0,105 x 50,0
4,House,5,7,0,0,3.0,0,NaN,NaN,NaN,0,60 x 22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10650,House,7,7,Grant,Fully Furnished,3.0,Master Bedroom Only,Parquet Flooring,Groundwater pumping,NaN,6400,0,0
10651,House,7,4,Grant,Fully Furnished,2.0,Master and Single Bedroom,Parquet Flooring,Groundwater pumping,NaN,0,70 x 90,0
10652,House,0,0,Contract,Fully Furnished,2.0,0,NaN,Groundwater pumping,NaN,0,70 x 80,0
10653,House,7,7,Grant,Fully Furnished,3.5,Master and Single Bedroom,Parquet Flooring,Groundwater pumping,NaN,7925,0,0
10654,House,6,4,Grant,Fully Furnished,2.0,Master and Single Bedroom,Parquet Flooring,Groundwater pumping,NaN,0,40 x 70,0

In [59]:
# Finished Till Flooring Type

# Water System Type

In [60]:
key_value_df['Water System Type'].unique()

array([nan, 'Groundwater pumping', 'Groundwater pumping)',
       'Auto Pumping System'], dtype=object)

In [61]:
key_value_df['Water System Type'].apply(remove_half_paren)

0                          0
1                          0
2                          0
3                          0
4                          0
                ...
10650    Groundwater pumping
10651    Groundwater pumping
10652    Groundwater pumping
10653    Groundwater pumping
10654    Groundwater pumping
Name: Water System Type, Length: 10655, dtype: object

In [62]:
key_value_df.drop(columns = ['Water System Type'] , inplace = True)

------- Finish Water System Type ---------

# Nearby Amenities

In [63]:
key_value_df['Nearby Amenities'].unique()

array([nan, 'Junction Zawana', 'တောင်ဥက္ကလာဘုရား၊မြင်သာဈေး)'],
      dtype=object)

In [64]:
key_value_df['Nearby Amenities'].apply(remove_half_paren).value_counts()

Nearby Amenities
0                             10653
Junction Zawana                   1
တောင်ဥက္ကလာဘုရား၊မြင်သာဈေး        1
Name: count, dtype: int64

In [65]:
key_value_df.drop(columns = ['Nearby Amenities'] , inplace = True)

In [66]:
key_value_df.shape

(10655, 11)

------------------key_value_df------------------ is almost ok

In [67]:
df = df.reset_index()

In [68]:
# del df['index']

# df

# price

In [69]:
df['price'].str.split("\r").str[0].str.strip().unique()

array(['For Sale'], dtype=object)

In [70]:
df['price_lakhs'] = df['price'].str.split('\r').str[-1].str.replace("\n",'').str.strip()

In [71]:
df['price_lakhs'] = df['price_lakhs'].str.replace(",","")

In [72]:
df['price_type'] = df['price_lakhs'].str.split(' ').str[-1].str.strip()

In [73]:
df['price_type'].unique()

array(['Lakhs', 'Price', 'USD'], dtype=object)

In [74]:
df[df['price_type'] == 'Price']

,index,title,undertitle,price,address,date,key_value,propertydetail,key_value_temp,price_lakhs,price_type
7,7,Condo For Sale in Hlaing,"3 bedroom, 2 bathroom Condo for sale in Hlaing...",For Sale \r...,"Hlaing, Yangon",Posted Date : 26 Jan 2026,"[('Type', 'Condo'), ('Area', '2022 ft<sup>2</s...",Property Name : လှိုင်မြို့နယ်ရဲ့နေရာကောင်းရှိ...,"('Type', 'Condo'), ('Area', '2022 ft<sup>2</su...",Ask for Price,Price
15,15,House For Sale in Hlaing,"5 bedroom, 5 bathroom Privatehouse for sale in...",For Sale \r...,"Hlaing, Yangon",Posted Date : 23 Jan 2026,"[('Type', 'House'), ('Floor', '-'), ('Area', '...",Property Name : လှိုင်မြို့နယ်၊ သီရိမင်္ဂလာဈေး...,"('Type', 'House'), ('Floor', '-'), ('Area', '8...",Ask for Price,Price
47,47,"Yankin Spa Condo For Sale Near Myanmar Plaza, ...","3 bedroom, 3 bathroom Condo for sale in Yankin...",For Sale \r...,"Yankin, Yangon",Posted Date : 17 Jan 2026,"[('Type', 'Condo'), ('Area', '1771 acre'), ('B...",Property Name : မြန်မာပလာဇာအနီး Yankin Spa Con...,"('Type', 'Condo'), ('Area', '1771 acre'), ('Be...",Ask for Price,Price
53,53,Land For Sale in Bahan,"Land for sale in Bahan, Yangon",For Sale \r...,"Bahan, Yangon",Posted Date : 16 Jan 2026,"[('Type', 'Land'), ('Area', '1.25 acre'), ('Ow...",Property Name : ဗဟန်းမြို့နယ်၊ ဆရာစံရပ်ကွက်၊ ...,"('Type', 'Land'), ('Area', '1.25 acre'), ('Own...",Ask for Price,Price
876,876,Condo For Sale in Pazundaung,"3 bedroom, 2 bathroom Condo for sale in Pazund...",For Sale \r...,"Pazundaung, Yangon",Posted Date : 15 Jan 2026,"[('Type', 'Condo'), ('Area', '1525 ft<sup>2</s...",Property Name : ပုဇွန်တောင်မြို့နယ်၊Ocean East...,"('Type', 'Condo'), ('Area', '1525 ft<sup>2</su...",Ask for Price,Price
...,...,...,...,...,...,...,...,...,...,...,...
9958,10021,Land For Sale in Ahlon,"Land for sale in Ahlon, Yangon",For Sale \r...,"Ahlon, Yangon",Posted Date : 16 Aug 2025,"[('Type', 'Land'), ('Area', '0.50 acre'), ('Ow...",Property Name : အလုံမြို့နယ်ရှိ စီးပွားရေးလုပ်...,"('Type', 'Land'), ('Area', '0.50 acre'), ('Own...",Ask for Price,Price
10058,10121,Condo For Sale in Hlaing,"2 bedroom, 2 bathroom Condo for sale in Hlaing...",For Sale \r...,"Hlaing, Yangon",Posted Date : 15 Aug 2025,"[('Type', 'Condo'), ('Area', '1335 ft<sup>2</s...",Property Name : လူကြီးမင်းတို့ စိတ်ကြိုက် ပြင်...,"('Type', 'Condo'), ('Area', '1335 ft<sup>2</su...",Ask for Price,Price
10067,10130,Condo For Sale in Hlaing,"2 bedroom, 2 bathroom Condo for sale in Hlaing...",For Sale \r...,"Hlaing, Yangon",Posted Date : 15 Aug 2025,"[('Type', 'Condo'), ('Floor', 'High Floor'), (...",Property Name : လှိုင်မြို့နယ်ရဲ့ Privacy လုံခ...,"('Type', 'Condo'), ('Floor', 'High Floor'), ('...",Ask for Price,Price
10257,10321,Ground Floor Apartment for Sale in Dagon Myoth...,"1 bedroom, 1 bathroom Apartment for sale in Da...",For Sale \r...,"Dagon Myothit (North), Yangon",Posted Date : 10 Aug 2025,"[('Type', 'Apartment'), ('Area', ""54' x 18'""),...",Property Name : မြောက်ဒဂုံ ၃၂ရပ်ကွက်ရှိ မြေညီထ...,"('Type', 'Apartment'), ('Area', ""54' x 18'""), ...",Ask for Price,Price
10541,10605,The Century Luxury Condominium for Sales Hlain...,"4 bedroom, 4 bathroom Condo for sale in Hlaing...",For Sale \r...,"Hlaing, Yangon",Posted Date : 04 Aug 2025,"[('Type', 'Condo'), ('Area', '1848 ft<sup>2</s...",Property Name : The Century Luxury Condominium...,"('Type', 'Condo'), ('Area', '1848 ft<sup>2</su...",Ask for Price,Price

In [75]:
USD_indx = df[df['price_type'] == 'USD'].index
PRICE_indx = df[df['price_type'] == 'Price'].index

In [76]:
df.drop(index = USD_indx , inplace = True)
df.drop(index = PRICE_indx , inplace = True)

In [77]:
df.shape

(10584, 11)

In [78]:
df['price_type'].unique()

array(['Lakhs'], dtype=object)

In [79]:
df['price_lakhs'] = df['price_lakhs'].str.split(" ").str[0].str.strip().astype('float')

In [80]:
df.drop(columns = ['price'] , inplace = True)

In [81]:
df.drop(columns = ['price_type'] , inplace =True)

In [82]:
df

,index,title,undertitle,address,date,key_value,propertydetail,key_value_temp,price_lakhs
0,0,Condo For Sale in Yankin,"2 bedroom, 2 bathroom Condo for sale in Yankin...","Yankin, Yangon",Posted Date : 27 Jan 2026,"[('Type', 'Condo'), ('Area', '1045 ft<sup>2</s...",Property Name : #Yankin Royal Thitsar Condo Fo...,"('Type', 'Condo'), ('Area', '1045 ft<sup>2</su...",8200.0
1,1,Apartment For Sale in Okkalappa South,"2 bedroom, 1 bathroom Apartment for sale in Ok...","Okkalappa South, Yangon",Posted Date : 27 Jan 2026,"[('Type', 'Apartment'), ('Floor', '3'), ('Area...",Property Name : #တောင်ဥက္ကလာ ၉ရပ်ကွက် VIP သစ္စ...,"('Type', 'Apartment'), ('Floor', '3'), ('Area'...",2990.0
2,2,House For Sale in Dagon Myothit (North),"4 bedroom, 4 bathroom Privatehouse for sale in...","Dagon Myothit (North), Yangon",Posted Date : 27 Jan 2026,"[('Type', 'House'), ('Floor', '2.5'), ('Area',...",Property Name : #မြောက်ဒဂုံ ၃၈ ရပ်ကွက် ပြည်ထော...,"('Type', 'House'), ('Floor', '2.5'), ('Area', ...",11700.0
3,3,Land For Sale in Yankin,"Land for sale in Yankin, Yangon","Yankin, Yangon",Posted Date : 27 Jan 2026,"[('Type', 'Land'), ('Area', ""105' x 50'""), ('O...",Property Name : #ဘောက်ထော် ပြည်သာယာလမ်းမအနီး မ...,"('Type', 'Land'), ('Area', ""105' x 50'""), ('Ow...",90000.0
4,4,House For Sale in Dagon Myothit (North),"5 bedroom, 7 bathroom Privatehouse for sale in...","Dagon Myothit (North), Yangon",Posted Date : 27 Jan 2026,"[('Type', 'House'), ('Floor', '3'), ('Area', ""...",Property Name : #မြောက်ဒဂုံ (၄၂)ရပ်ကွက် ဗိုလ်မ...,"('Type', 'House'), ('Floor', '3'), ('Area', ""6...",9800.0
...,...,...,...,...,...,...,...,...,...
10650,10715,House For Sale in Thingangkuun,"7 bedroom, 7 bathroom Privatehouse for sale in...","Thingangkuun, Yangon",Posted Date : 08 Oct 2024,"[('Type', 'House'), ('Floor', '3 RC'), ('Area'...",Property Name : သင်္ဃန်းကျွန်းမြို့နယ်၊ ဝေဇယန္...,"('Type', 'House'), ('Floor', '3 RC'), ('Area',...",42000.0
10651,10716,House For Sale in Thingangkuun,"7 bedroom, 4 bathroom Privatehouse for sale in...","Thingangkuun, Yangon",Posted Date : 08 Oct 2024,"[('Type', 'House'), ('Floor', '2RC'), ('Area',...",Property Name : သင်္ဃန်းကျွန်းမြို့နယ်၊ သုဝဏ္ဏ...,"('Type', 'House'), ('Floor', '2RC'), ('Area', ...",32000.0
10652,10717,House For Sale in Mayangone,"Luxury Privatehouse for sale in Mayangone, Yangon","Mayangone, Yangon",Posted Date : 08 Oct 2024,"[('Type', 'House'), ('Floor', '2BN'), ('Area',...",Property Name : မရမ်းကုန်းမြို့နယ်၊ ၉ မိုင်၊ ၅...,"('Type', 'House'), ('Floor', '2BN'), ('Area', ...",16500.0
10653,10718,House For Sale in Bahan,"7 bedroom, 7 bathroom Privatehouse for sale in...","Bahan, Yangon",Posted Date : 08 Oct 2024,"[('Type', 'House'), ('Floor', '3.5 RC'), ('Are...",Property Name : ဗဟန်းမြို့နယ်၊ တက္ကသိုလ်ရိပ်သာ...,"('Type', 'House'), ('Floor', '3.5 RC'), ('Area...",118000.0
10654,10719,House For Sale in Thingangkuun,"6 bedroom, 4 bathroom Privatehouse for sale in...","Thingangkuun, Yangon",Posted Date : 08 Oct 2024,"[('Type', 'House'), ('Floor', '2RC'), ('Area',...",Property Name : သင်္ဃန်းကျွန်းမြို့နယ်၊ ဝေဇယန္...,"('Type', 'House'), ('Floor', '2RC'), ('Area', ...",30000.0

In [83]:
df.drop(columns = ['key_value','key_value_temp'] , inplace = True)

In [84]:
df.drop(columns = ['index'] , inplace = True)

In [85]:
df.drop(columns = ['propertydetail'] , inplace = True)

In [86]:
df['day'] = df['date'].str.split(' ').str[-3]
df['month'] = df['date'].str.split(' ').str[-2]
df['year'] = df['date'].str.split(' ').str[-1]

In [87]:
df.drop(columns = ['title','date'] , inplace = True)

In [88]:
df_index = df.index

In [89]:
key_value_df.loc[df_index].shape

(10584, 11)

In [90]:
df.shape

(10584, 6)

In [91]:
key_value_df_for_df = key_value_df.loc[df_index]

In [92]:
final_df = pd.concat([df , key_value_df_for_df] , axis = 1)

In [93]:
final_df.sample(5)

,undertitle,address,price_lakhs,day,month,year,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Room Partition Type,Flooring Type,Area_ft,x_y,acre
3287,"Luxury Condo for sale in Botahtaung, Yangon","Botahtaung, Yangon",6300.0,07,Dec,2025,Condo,0,0,0,0,7.0,0,NaN,0,25 x 60,0
8886,"3 bedroom, 2 bathroom Condo for sale in Dagon ...","Dagon Myothit (Seikkan), Yangon",3200.0,04,Sep,2025,Condo,3,2,0,0,0.0,0,NaN,1184,0,0
8906,"Land for sale in Mayangone, Yangon","Mayangone, Yangon",42000.0,04,Sep,2025,Land,0,0,0,0,0.0,0,NaN,5575,0,0
6754,"Luxury Apartment for sale in Sanchaung, Yangon","Sanchaung, Yangon",2200.0,02,Oct,2025,Apartment,0,0,0,0,1.0,0,NaN,0,15 x 45,0
6723,Luxury Condo for sale in Dagon Myothit (Seikka...,"Dagon Myothit (Seikkan), Yangon",1900.0,02,Oct,2025,Condo,0,0,0,0,2.0,0,NaN,600,0,0

In [94]:
final_df['State'] = final_df['address'].str.split(",").str[-1].str.strip()

In [95]:
final_df['address'].str.split(",").str[0].str.strip().unique()

array(['Yankin', 'Okkalappa South', 'Dagon Myothit (North)', 'Mayangone',
       'Thingangkuun', 'Hlaing', 'Bahan', 'Kamaryut', 'Thaketa',
       'Thanlyin', 'Mingalartaungnyunt', 'Sanchaung', 'Ahlon', 'Tamwe',
       'Dagon Myothit (East)', 'Insein', 'Dagon Myothit (Seikkan)',
       'Lanmadaw', 'Botahtaung', 'Shwepyithar', 'Pazundaung',
       'Dagon Myothit (South)', 'Hlegu', 'Dawbon', 'Okkalappa North',
       'Hlaingtharya', 'Aungmyaythazan', 'Pabedan', 'Pyinoolwin',
       'Mingaladon', 'Kyauktada', 'Dagon', 'Kyeemyindaing',
       'Shwe Pauk Kan', 'Latha', 'Kyauktan', 'Palae Myothit', 'Dala',
       'Bago', 'Myitkyina', 'Kalaw', 'Taikkyi', 'Chanayethazan',
       'Dagon Myothit (West)', 'Sagaing', 'Chanmyathazi', 'Kayan',
       'Hmawbi', 'Pobbathiri', 'Pyigyitagon'], dtype=object)

In [96]:
final_df["city"] = final_df['address'].str.split(",").str[0].str.strip()

In [97]:
final_df.drop(columns = ['address'] , inplace = True)

In [98]:
final_df

,undertitle,price_lakhs,day,month,year,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Room Partition Type,Flooring Type,Area_ft,x_y,acre,State,city
0,"2 bedroom, 2 bathroom Condo for sale in Yankin...",8200.0,27,Jan,2026,Condo,2,2,0,Fully Furnished,0.0,0,NaN,1045,0,0,Yangon,Yankin
1,"2 bedroom, 1 bathroom Apartment for sale in Ok...",2990.0,27,Jan,2026,Apartment,2,1,0,Fully Furnished,3.0,0,NaN,0,54 x 18,0,Yangon,Okkalappa South
2,"4 bedroom, 4 bathroom Privatehouse for sale in...",11700.0,27,Jan,2026,House,4,4,0,Fully Furnished,2.5,0,NaN,0,60 x 20,0,Yangon,Dagon Myothit (North)
3,"Land for sale in Yankin, Yangon",90000.0,27,Jan,2026,Land,0,0,0,0,0.0,0,NaN,0,105 x 50,0,Yangon,Yankin
4,"5 bedroom, 7 bathroom Privatehouse for sale in...",9800.0,27,Jan,2026,House,5,7,0,0,3.0,0,NaN,0,60 x 22,0,Yangon,Dagon Myothit (North)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10650,"7 bedroom, 7 bathroom Privatehouse for sale in...",42000.0,08,Oct,2024,House,7,7,Grant,Fully Furnished,3.0,Master Bedroom Only,Parquet Flooring,6400,0,0,Yangon,Thingangkuun
10651,"7 bedroom, 4 bathroom Privatehouse for sale in...",32000.0,08,Oct,2024,House,7,4,Grant,Fully Furnished,2.0,Master and Single Bedroom,Parquet Flooring,0,70 x 90,0,Yangon,Thingangkuun
10652,"Luxury Privatehouse for sale in Mayangone, Yangon",16500.0,08,Oct,2024,House,0,0,Contract,Fully Furnished,2.0,0,NaN,0,70 x 80,0,Yangon,Mayangone
10653,"7 bedroom, 7 bathroom Privatehouse for sale in...",118000.0,08,Oct,2024,House,7,7,Grant,Fully Furnished,3.5,Master and Single Bedroom,Parquet Flooring,7925,0,0,Yangon,Bahan
10654,"6 bedroom, 4 bathroom Privatehouse for sale in...",30000.0,08,Oct,2024,House,6,4,Grant,Fully Furnished,2.0,Master and Single Bedroom,Parquet Flooring,0,40 x 70,0,Yangon,Thingangkuun

In [99]:
bed_and_bath_zero = final_df[(final_df['Bed Room']==0) & (final_df['Bath Room']==0) & (final_df['Type'] !='Land')]

In [100]:
def find_bed_or_bath(x):
    if "bed" in x:
        return x
    elif 'bath' in x:
        return x
    else:
        pass

In [101]:
bed_and_bath_zero[(bed_and_bath_zero['undertitle'].str.contains('bed' , na = False))]

,undertitle,price_lakhs,day,month,year,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Room Partition Type,Flooring Type,Area_ft,x_y,acre,State,city
2521,"Luxury Apartment for sale in Pabedan, Yangon",5300.0,16,Dec,2025,Apartment,0,0,0,0,0.0,0,NaN,0,36 x 55,0,Yangon,Pabedan
6859,"Luxury Condo for sale in Pabedan, Yangon",4900.0,30,Sep,2025,Condo,0,0,0,0,3.0,0,NaN,1056,0,0,Yangon,Pabedan
6957,"Luxury Condo for sale in Pabedan, Yangon",4900.0,29,Sep,2025,Condo,0,0,0,0,3.0,0,NaN,1056,0,0,Yangon,Pabedan
6990,"Luxury Apartment for sale in Pabedan, Yangon",3000.0,28,Sep,2025,Apartment,0,0,0,0,4.0,0,NaN,0,20 x 40,0,Yangon,Pabedan
7070,"Luxury Apartment for sale in Pabedan, Yangon",3000.0,27,Sep,2025,Apartment,0,0,0,0,3.0,0,NaN,0,20 x 40,0,Yangon,Pabedan
7308,"Luxury Condo for sale in Pabedan, Yangon",4900.0,23,Sep,2025,Condo,0,0,0,0,3.0,0,NaN,1056,0,0,Yangon,Pabedan
7372,"Luxury Apartment for sale in Pabedan, Yangon",1550.0,22,Sep,2025,Apartment,0,0,0,0,8.0,0,NaN,0,12 x 50,0,Yangon,Pabedan
7383,"Luxury Apartment for sale in Pabedan, Yangon",1550.0,22,Sep,2025,Apartment,0,0,0,0,8.0,0,NaN,0,12.50 x 50,0,Yangon,Pabedan
9007,"Condo for sale in Pabedan, Yangon",16.0,02,Sep,2025,Condo,0,0,0,0,6.0,0,NaN,1550,0,0,Yangon,Pabedan
9805,"Condo for sale in Pabedan, Yangon",16.0,19,Aug,2025,Condo,0,0,0,0,6.0,0,NaN,1550,0,0,Yangon,Pabedan
9823,"Luxury Apartment for sale in Pabedan, Yangon",2650.0,19,Aug,2025,Apartment,0,0,0,0,6.0,0,NaN,0,15 x 60,0,Yangon,Pabedan

In [102]:
bed_zero = final_df[(final_df['Bed Room']==0)]
bed_zero[(bed_zero['undertitle'].str.contains('bed' , na = False , case = True))]

,undertitle,price_lakhs,day,month,year,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Room Partition Type,Flooring Type,Area_ft,x_y,acre,State,city
2521,"Luxury Apartment for sale in Pabedan, Yangon",5300.0,16,Dec,2025,Apartment,0,0,0,0,0.0,0,NaN,0,36 x 55,0,Yangon,Pabedan
4899,"1 bathroom Condo for sale in Pabedan, Yangon",10000.0,10,Nov,2025,Condo,0,1,0,0,0.0,0,NaN,0,30 x 50,0,Yangon,Pabedan
6859,"Luxury Condo for sale in Pabedan, Yangon",4900.0,30,Sep,2025,Condo,0,0,0,0,3.0,0,NaN,1056,0,0,Yangon,Pabedan
6957,"Luxury Condo for sale in Pabedan, Yangon",4900.0,29,Sep,2025,Condo,0,0,0,0,3.0,0,NaN,1056,0,0,Yangon,Pabedan
6990,"Luxury Apartment for sale in Pabedan, Yangon",3000.0,28,Sep,2025,Apartment,0,0,0,0,4.0,0,NaN,0,20 x 40,0,Yangon,Pabedan
7070,"Luxury Apartment for sale in Pabedan, Yangon",3000.0,27,Sep,2025,Apartment,0,0,0,0,3.0,0,NaN,0,20 x 40,0,Yangon,Pabedan
7308,"Luxury Condo for sale in Pabedan, Yangon",4900.0,23,Sep,2025,Condo,0,0,0,0,3.0,0,NaN,1056,0,0,Yangon,Pabedan
7372,"Luxury Apartment for sale in Pabedan, Yangon",1550.0,22,Sep,2025,Apartment,0,0,0,0,8.0,0,NaN,0,12 x 50,0,Yangon,Pabedan
7383,"Luxury Apartment for sale in Pabedan, Yangon",1550.0,22,Sep,2025,Apartment,0,0,0,0,8.0,0,NaN,0,12.50 x 50,0,Yangon,Pabedan
9007,"Condo for sale in Pabedan, Yangon",16.0,02,Sep,2025,Condo,0,0,0,0,6.0,0,NaN,1550,0,0,Yangon,Pabedan
9805,"Condo for sale in Pabedan, Yangon",16.0,19,Aug,2025,Condo,0,0,0,0,6.0,0,NaN,1550,0,0,Yangon,Pabedan
9823,"Luxury Apartment for sale in Pabedan, Yangon",2650.0,19,Aug,2025,Apartment,0,0,0,0,6.0,0,NaN,0,15 x 60,0,Yangon,Pabedan

In [103]:
bath_zero = final_df[(final_df['Bath Room']==0)]
bath_zero[(bath_zero['undertitle'].str.contains('bath' , na = False , case = False))]

Empty DataFrame
Columns: [undertitle, price_lakhs, day, month, year, Type, Bed Room, Bath Room, Ownership, Furnishing Type, Floor, Room Partition Type, Flooring Type, Area_ft, x_y, acre, State, city]
Index: []

In [104]:
final_df.drop(columns = ['undertitle'] , inplace =True)

In [105]:
final_df

,price_lakhs,day,month,year,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Room Partition Type,Flooring Type,Area_ft,x_y,acre,State,city
0,8200.0,27,Jan,2026,Condo,2,2,0,Fully Furnished,0.0,0,NaN,1045,0,0,Yangon,Yankin
1,2990.0,27,Jan,2026,Apartment,2,1,0,Fully Furnished,3.0,0,NaN,0,54 x 18,0,Yangon,Okkalappa South
2,11700.0,27,Jan,2026,House,4,4,0,Fully Furnished,2.5,0,NaN,0,60 x 20,0,Yangon,Dagon Myothit (North)
3,90000.0,27,Jan,2026,Land,0,0,0,0,0.0,0,NaN,0,105 x 50,0,Yangon,Yankin
4,9800.0,27,Jan,2026,House,5,7,0,0,3.0,0,NaN,0,60 x 22,0,Yangon,Dagon Myothit (North)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10650,42000.0,08,Oct,2024,House,7,7,Grant,Fully Furnished,3.0,Master Bedroom Only,Parquet Flooring,6400,0,0,Yangon,Thingangkuun
10651,32000.0,08,Oct,2024,House,7,4,Grant,Fully Furnished,2.0,Master and Single Bedroom,Parquet Flooring,0,70 x 90,0,Yangon,Thingangkuun
10652,16500.0,08,Oct,2024,House,0,0,Contract,Fully Furnished,2.0,0,NaN,0,70 x 80,0,Yangon,Mayangone
10653,118000.0,08,Oct,2024,House,7,7,Grant,Fully Furnished,3.5,Master and Single Bedroom,Parquet Flooring,7925,0,0,Yangon,Bahan
10654,30000.0,08,Oct,2024,House,6,4,Grant,Fully Furnished,2.0,Master and Single Bedroom,Parquet Flooring,0,40 x 70,0,Yangon,Thingangkuun

In [106]:
final_df['x'] = final_df['x_y'].str.split("x").str[0].astype('float')
final_df['y'] = final_df['x_y'].str.split("x").str[-1].astype('float')

In [107]:
final_df

,price_lakhs,day,month,year,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Room Partition Type,Flooring Type,Area_ft,x_y,acre,State,city,x,y
0,8200.0,27,Jan,2026,Condo,2,2,0,Fully Furnished,0.0,0,NaN,1045,0,0,Yangon,Yankin,0.0,0.0
1,2990.0,27,Jan,2026,Apartment,2,1,0,Fully Furnished,3.0,0,NaN,0,54 x 18,0,Yangon,Okkalappa South,54.0,18.0
2,11700.0,27,Jan,2026,House,4,4,0,Fully Furnished,2.5,0,NaN,0,60 x 20,0,Yangon,Dagon Myothit (North),60.0,20.0
3,90000.0,27,Jan,2026,Land,0,0,0,0,0.0,0,NaN,0,105 x 50,0,Yangon,Yankin,105.0,50.0
4,9800.0,27,Jan,2026,House,5,7,0,0,3.0,0,NaN,0,60 x 22,0,Yangon,Dagon Myothit (North),60.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10650,42000.0,08,Oct,2024,House,7,7,Grant,Fully Furnished,3.0,Master Bedroom Only,Parquet Flooring,6400,0,0,Yangon,Thingangkuun,0.0,0.0
10651,32000.0,08,Oct,2024,House,7,4,Grant,Fully Furnished,2.0,Master and Single Bedroom,Parquet Flooring,0,70 x 90,0,Yangon,Thingangkuun,70.0,90.0
10652,16500.0,08,Oct,2024,House,0,0,Contract,Fully Furnished,2.0,0,NaN,0,70 x 80,0,Yangon,Mayangone,70.0,80.0
10653,118000.0,08,Oct,2024,House,7,7,Grant,Fully Furnished,3.5,Master and Single Bedroom,Parquet Flooring,7925,0,0,Yangon,Bahan,0.0,0.0
10654,30000.0,08,Oct,2024,House,6,4,Grant,Fully Furnished,2.0,Master and Single Bedroom,Parquet Flooring,0,40 x 70,0,Yangon,Thingangkuun,40.0,70.0

In [108]:
final_df['ft_square'] = final_df['x'] * final_df['y']

In [109]:
final_df[final_df['acre']!='0']

,price_lakhs,day,month,year,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Room Partition Type,Flooring Type,Area_ft,x_y,acre,State,city,x,y,ft_square
26,435600.0,21,Jan,2026,Land,0,0,Inheritance,0,0.0,0,NaN,0,0,1 acre,Yangon,Hlaing,0.0,0.0,0.0
44,4200.0,17,Jan,2026,Condo,2,2,0,Fully Furnished,0.0,0,NaN,0,0,946 acre,Yangon,Thanlyin,0.0,0.0,0.0
123,39000.0,11,Oct,2025,Land,0,0,0,0,0.0,0,NaN,0,0,5.85 acre,Yangon,Hlegu,0.0,0.0,0.0
322,150000.0,24,Jan,2026,Land,0,1,0,0,0.0,0,NaN,0,0,10 acre,Yangon,Mingaladon,0.0,0.0,0.0
595,67000.0,19,Jan,2026,House,7,0,Inheritance,0,2.0,Master Bedroom Only,NaN,0,0,0.16 acre,Yangon,Mayangone,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9655,40000.0,22,Aug,2025,House,0,0,0,0,0.0,0,NaN,0,0,0.12 acre,Yangon,Thingangkuun,0.0,0.0,0.0
10068,205000.0,15,Aug,2025,Land,0,0,Contract,0,0.0,0,NaN,0,0,0.21 acre,Yangon,Kamaryut,0.0,0.0,0.0
10538,75000.0,04,Aug,2025,House,0,0,0,0,0.0,0,NaN,0,0,0.20 acre,Yangon,Hlaing,0.0,0.0,0.0
10542,56000.0,04,Aug,2025,House,0,0,0,0,0.0,0,NaN,0,0,0.07 acre,Yangon,Kamaryut,0.0,0.0,0.0
10614,55000.0,17,May,2025,House,5,5,Grant,Fully Furnished,2.0,Master Bedroom Only,Parquet Flooring,0,0,0.26 acre,Yangon,Mayangone,0.0,0.0,0.0

In [110]:
final_df['acre']=final_df['acre'].str.replace("acre","").astype('float')

In [111]:
mask = final_df[(final_df['acre']!=0) & (final_df['Type'] == 'Land')].index
final_df.loc[mask,'acre']*= 43560

In [112]:
final_df[final_df['acre']!=0]

,price_lakhs,day,month,year,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Room Partition Type,Flooring Type,Area_ft,x_y,acre,State,city,x,y,ft_square
26,435600.0,21,Jan,2026,Land,0,0,Inheritance,0,0.0,0,NaN,0,0,43560.00,Yangon,Hlaing,0.0,0.0,0.0
44,4200.0,17,Jan,2026,Condo,2,2,0,Fully Furnished,0.0,0,NaN,0,0,946.00,Yangon,Thanlyin,0.0,0.0,0.0
123,39000.0,11,Oct,2025,Land,0,0,0,0,0.0,0,NaN,0,0,254826.00,Yangon,Hlegu,0.0,0.0,0.0
322,150000.0,24,Jan,2026,Land,0,1,0,0,0.0,0,NaN,0,0,435600.00,Yangon,Mingaladon,0.0,0.0,0.0
595,67000.0,19,Jan,2026,House,7,0,Inheritance,0,2.0,Master Bedroom Only,NaN,0,0,0.16,Yangon,Mayangone,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9655,40000.0,22,Aug,2025,House,0,0,0,0,0.0,0,NaN,0,0,0.12,Yangon,Thingangkuun,0.0,0.0,0.0
10068,205000.0,15,Aug,2025,Land,0,0,Contract,0,0.0,0,NaN,0,0,9147.60,Yangon,Kamaryut,0.0,0.0,0.0
10538,75000.0,04,Aug,2025,House,0,0,0,0,0.0,0,NaN,0,0,0.20,Yangon,Hlaing,0.0,0.0,0.0
10542,56000.0,04,Aug,2025,House,0,0,0,0,0.0,0,NaN,0,0,0.07,Yangon,Kamaryut,0.0,0.0,0.0
10614,55000.0,17,May,2025,House,5,5,Grant,Fully Furnished,2.0,Master Bedroom Only,Parquet Flooring,0,0,0.26,Yangon,Mayangone,0.0,0.0,0.0

In [113]:
final_df[(final_df['Type']=='House') & final_df['acre']!=0].shape

(39, 20)

In [114]:
key_value_df.loc[6934]

Type                       Condo
Bed Room                       0
Bath Room                      0
Ownership                      0
Furnishing Type                0
Floor                        0.0
Room Partition Type            0
Flooring Type                NaN
Area_ft                        0
x_y                            0
acre                   1250 acre
Name: 6934, dtype: object

In [115]:
final_df

,price_lakhs,day,month,year,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Room Partition Type,Flooring Type,Area_ft,x_y,acre,State,city,x,y,ft_square
0,8200.0,27,Jan,2026,Condo,2,2,0,Fully Furnished,0.0,0,NaN,1045,0,0.0,Yangon,Yankin,0.0,0.0,0.0
1,2990.0,27,Jan,2026,Apartment,2,1,0,Fully Furnished,3.0,0,NaN,0,54 x 18,0.0,Yangon,Okkalappa South,54.0,18.0,972.0
2,11700.0,27,Jan,2026,House,4,4,0,Fully Furnished,2.5,0,NaN,0,60 x 20,0.0,Yangon,Dagon Myothit (North),60.0,20.0,1200.0
3,90000.0,27,Jan,2026,Land,0,0,0,0,0.0,0,NaN,0,105 x 50,0.0,Yangon,Yankin,105.0,50.0,5250.0
4,9800.0,27,Jan,2026,House,5,7,0,0,3.0,0,NaN,0,60 x 22,0.0,Yangon,Dagon Myothit (North),60.0,22.0,1320.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10650,42000.0,08,Oct,2024,House,7,7,Grant,Fully Furnished,3.0,Master Bedroom Only,Parquet Flooring,6400,0,0.0,Yangon,Thingangkuun,0.0,0.0,0.0
10651,32000.0,08,Oct,2024,House,7,4,Grant,Fully Furnished,2.0,Master and Single Bedroom,Parquet Flooring,0,70 x 90,0.0,Yangon,Thingangkuun,70.0,90.0,6300.0
10652,16500.0,08,Oct,2024,House,0,0,Contract,Fully Furnished,2.0,0,NaN,0,70 x 80,0.0,Yangon,Mayangone,70.0,80.0,5600.0
10653,118000.0,08,Oct,2024,House,7,7,Grant,Fully Furnished,3.5,Master and Single Bedroom,Parquet Flooring,7925,0,0.0,Yangon,Bahan,0.0,0.0,0.0
10654,30000.0,08,Oct,2024,House,6,4,Grant,Fully Furnished,2.0,Master and Single Bedroom,Parquet Flooring,0,40 x 70,0.0,Yangon,Thingangkuun,40.0,70.0,2800.0

In [116]:
final_df['Area_ft']=final_df['Area_ft'].astype(float)
final_df[['Area_ft','acre','ft_square']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 10584 entries, 0 to 10654
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area_ft    10584 non-null  float64
 1   acre       10584 non-null  float64
 2   ft_square  10584 non-null  float64
dtypes: float64(3)
memory usage: 588.8 KB

In [117]:
final_df['Area_ft_square'] = final_df[['Area_ft','acre','ft_square']].sum(axis = 1)

In [118]:
final_df.drop(columns = ['Area_ft','x_y','acre','x','y','ft_square'] , inplace = True)

In [119]:
final_df['Flooring Type'].fillna('0',inplace = True)

C:\Users\M S I\AppData\Local\Temp\ipykernel_8688\3156774557.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Flooring Type'].fillna('0',inplace = True)

In [120]:
final_df

,price_lakhs,day,month,year,Type,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Room Partition Type,Flooring Type,State,city,Area_ft_square
0,8200.0,27,Jan,2026,Condo,2,2,0,Fully Furnished,0.0,0,0,Yangon,Yankin,1045.0
1,2990.0,27,Jan,2026,Apartment,2,1,0,Fully Furnished,3.0,0,0,Yangon,Okkalappa South,972.0
2,11700.0,27,Jan,2026,House,4,4,0,Fully Furnished,2.5,0,0,Yangon,Dagon Myothit (North),1200.0
3,90000.0,27,Jan,2026,Land,0,0,0,0,0.0,0,0,Yangon,Yankin,5250.0
4,9800.0,27,Jan,2026,House,5,7,0,0,3.0,0,0,Yangon,Dagon Myothit (North),1320.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10650,42000.0,08,Oct,2024,House,7,7,Grant,Fully Furnished,3.0,Master Bedroom Only,Parquet Flooring,Yangon,Thingangkuun,6400.0
10651,32000.0,08,Oct,2024,House,7,4,Grant,Fully Furnished,2.0,Master and Single Bedroom,Parquet Flooring,Yangon,Thingangkuun,6300.0
10652,16500.0,08,Oct,2024,House,0,0,Contract,Fully Furnished,2.0,0,0,Yangon,Mayangone,5600.0
10653,118000.0,08,Oct,2024,House,7,7,Grant,Fully Furnished,3.5,Master and Single Bedroom,Parquet Flooring,Yangon,Bahan,7925.0
10654,30000.0,08,Oct,2024,House,6,4,Grant,Fully Furnished,2.0,Master and Single Bedroom,Parquet Flooring,Yangon,Thingangkuun,2800.0

In [121]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10584 entries, 0 to 10654
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   price_lakhs          10584 non-null  float64
 1   day                  10584 non-null  object
 2   month                10584 non-null  object
 3   year                 10584 non-null  object
 4   Type                 10584 non-null  object
 5   Bed Room             10584 non-null  int64
 6   Bath Room            10584 non-null  int64
 7   Ownership            10584 non-null  object
 8   Furnishing Type      10584 non-null  object
 9   Floor                10584 non-null  float64
 10  Room Partition Type  10584 non-null  object
 11  Flooring Type        10584 non-null  object
 12  State                10584 non-null  object
 13  city                 10584 non-null  object
 14  Area_ft_square       10584 non-null  float64
dtypes: float64(3), int64(2), object(10)
memory usage: 1.5+ MB

In [122]:
import os

In [123]:
os.makedirs('Cleaned_Data',exist_ok=True)

In [124]:
final_df.to_csv("Cleaned_Data/myanmar_house_price_dataset_cleaned.csv" , index = False , header = True)

In [135]:
# key_value_df_back[(key_value_df_back['Type'] == 'Land') & (key_value_df_back['Bed Room']!=np.nan)]

,Type,Area,Bed Room,Bath Room,Ownership,Furnishing Type,Floor,Phone,Availability Date,Aircon conditioner details,Room Partition Type,Flooring Type,Water System Type,Nearby Amenities
3,Land,105 x 50,NaN,NaN,),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Land,4246.50 ft<sup>2</sup>,NaN,NaN,),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Land,1 acre,NaN,NaN,Inheritance),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Land,115 x 400,NaN,NaN,Inheritance),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Land,40 x 60,NaN,NaN,),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10600,Land,40 x 60,NaN,NaN,),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10608,Land,10542 ft<sup>2</sup>,4,3,),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10618,Land,12258 ft<sup>2</sup>,NaN,NaN,Grant,NaN,NaN,NaN,ready to use,-,NaN,NaN,Groundwater pumping),NaN
10627,Land,135 x 100,NaN,NaN,),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10640,Land,13500 ft<sup>2</sup>,NaN,NaN,Grant,NaN,NaN,NaN,ready to use,-,NaN,NaN,Groundwater pumping),NaN