In [1]:
import numpy as np
import pandas as pd

In [32]:
df1 = pd.DataFrame({"No":['1','2','3','4','5']})
df2 = pd.DataFrame({'No':['0','1','3','5','7','9','11']})

In [6]:
df2[~df2['No'].isin(df1['No'])]

   No
3   7
4   9
5  11

In [27]:
for i in df2.values.flatten():
    print(i)

1
3
5
7
9
11

In [35]:
pd.concat([df2,df2])

   No
0   0
1   1
2   3
3   5
4   7
5   9
6  11
0   0
1   1
2   3
3   5
4   7
5   9
6  11

In [36]:
new_df  = pd.DataFrame({'Links':[]})

In [38]:
new_df.shape[0]

0